$white-color: #fff;
$main-color-trade: #ececf0;
$main-color-producers: #0a0d13;
$main-color-producers-box: #1a1d23;
$main-color-producers-box-hover: #292c32;
$main-color-contact: #0d121a;
$main-color-footer: #03060b;
$main-color-red: #f21b2f;
$main-color-menu: #ececf0;
$main-color-producent-oferts: #0a0d13;
$text-color: #717c81;
$text-color-black: #000;
$text-color-silver: #333538;
$text-color-black-nice: #282a35;
$impo: !important;
$small-text: 1.2;
$large-text: 1.4;
$normall-text: 1.6;
$huge-text: 1.8;
$xl-text: 2.2;
$xxl-text: 2.6;
$xxxl-text: 3.2;
$small-telephone-width: 200px;
$telephone-width: 767px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1500px;
@mixin smallphone {
    @media (min-width: #{$small-telephone-width}) and (max-width: #{$telephone-width - 1px}) {
        @content;
    }
}

@mixin phone {
    @media (min-width: #{$telephone-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$laptop-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}

@mixin trans($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}


/* ==========================================================================
Global style
========================================================================== */

$i:10;
@while $i >=0 {
    .space-#{$i*10} {
        margin-top: 10px * $i;
        margin-bottom: 10px * $i;
    }
    $i: $i - 1;
}

#map-canvas {
  width:860px;
  height:480px;
}
.catalog {
    max-width: 1000px;
}

.producers-container {
    max-width: 600px;
}

.container-producers-oferts {
    max-width: 800px;
}

.menu-fixed {
    position: fixed;
    margin: 0 auto;
    width: 100vw;
    top: 0;
    z-index: 999;
    background-color: $main-color-menu;
    -webkit-box-shadow: 0px 10px 10px -8px rgba(87, 87, 87, 0.12);
    -moz-box-shadow: 0px 10px 10px -8px rgba(87, 87, 87, 0.12);
    box-shadow: 0px 10px 10px -8px rgba(87, 87, 87, 0.12);
    .navbar-header {
        a {
            height: inherit;
            padding: 2px 15px;
            img {
                margin-top: 12px $impo;
                width: 35px $impo;
            }
        }
    }
    .navbar .navbar-nav li {
        padding: 6px 21px !important;
    }
}

.icon {
    float: left;
    font-size: $xxl-text;
    margin: 5px 20px 0 0;
}

.no-margin {
    margin: 0 $impo;
}

.no-padding {
    padding: 0 $impo;
}

.btn-default-catalogy {
    color: $white-color;
    background-color: $main-color-red;
    border: 1px solid #ddd;
    padding: 12px 45px;
    border-radius: 0 $impo;
    @include trans(0.3s);
    &:hover {
        //            background-color: $main-color-fiolet;
        color: $white-color;
        //            border-color: $main-color-fiolet;
    }
}

.fb-icon i {
    &:hover {
        background-color: #3b5998;
        color: $white-color;
        border-color: transparent;
    }
}

.twitter-icon i {
    &:hover {
        background-color: #55acee;
        color: $white-color;
        border-color: transparent;
    }
}

.google-icon i {
    &:hover {
        background-color: #d34836;
        color: $white-color;
        border-color: transparent;
    }
}


/* ==========================================================================
Author's custom styles
========================================================================== */

body {
    font-size: 62.5%;
    color: black;
    font-family: 'montserratextralight';
}


/* ==================== Navi ====================*/

#nav {
    background-color: $main-color-menu;
}

.navbar {
    &.navbar-default-start {
        background-color: $main-color-menu;
        background-image: none;
        border: none;
        box-shadow: none;
        color: $text-color-black-nice;
        max-width: 1300px;
        @include laptop {
            max-width: 1200px;
        }
        margin: 0 auto;
        @include font-size($normall-text);
        @include smallphone {
            .navbar-collapse {}
        }
    }
    .navbar-header {
        a {
            img {
                @include trans(0.5s);
                margin-top: 2px;
                width: 50px;
                @include smallphone {
                    margin-top: -2px;
                    width: 30px $impo;
                }
            }
        }
    }
    .navbar-nav {
        li {
            padding: 20px 20px;
            a {
                color: $text-color-black;
                &:hover {
                    cursor: pointer;
                    color: lighter($text-color-black, 100%);
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}


/* ==================== Navi - End ====================*/


/* ==========================================================================
Top slider
========================================================================== */

#top-slide {
    background-image: url(../img/_photo_restarize.png);
    background-size: cover;
    width: 100%;
    padding: 100px 0 60px 0px;
    color: $white-color;
    .container {
        h1 {
            text-align: center;
            @include font-size(4.2);
            line-height: 1;
        }
        h2 {
            text-align: center;
            margin-top: 30px;
            @include font-size($huge-text*1.1);
        }
        span {
            display: block;
            text-align: center;
            margin-top: 50px;
            @include font-size($large-text);
            i {
                @include font-size($huge-text);
            }
        }
    }
}


/* ==========================================================================
Trade section
========================================================================== */

#trade {
    background-color: $main-color-trade;
    padding: 70px 0;
    .container {
        h2 {
            font-family: 'montserratultra_light';
            @include font-size($xxxl-text*1.2);
            margin-bottom: 60px;
        }
        h3 {
            @include font-size($normall-text);
            text-align: center;
        }
        .trade-box {
            box-shadow: 2px 4px 40px 0.00px rgba(23, 23, 34, 0.08);
            background-color: $white-color;
            height: 150px;
            position: relative;
            img {
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                margin: 0 auto;
            }
        }
    }
}


/* ==========================================================================
Producers section
========================================================================== */

#our-producers {
    background-color: $main-color-producers;
    background-image: url(../img/_bg_2.png);
    color: $white-color;
    padding: 70px 0 20px 0;
    .container {
        h2 {
            text-align: center;
        }
        p {
            font-family: 'montserratlight';
            text-align: center;
            color: darken($white-color, 40%);
            @include font-size($normall-text);
            margin-bottom: 60px;
        }
        .producers-box {
            border-radius: 5px;
            padding: 50px 60px 1px 60px;
            margin: 0px 0 140px 0;
            text-align: center;
            background-color: $main-color-producers-box;
            .producers-box-title-top {
                h3 {
                    @include font-size($small-text);
                    margin: 0;
                    text-transform: uppercase;
                }
            }
            .producers-box-title {
                h3 {
                    font-family: 'montserratregular';
                    margin: 0;
                    margin: 5px 0 25px 0;
                }
            }
            .producers-box-logo {
                img {
                    margin-left: -20px;
                }
            }
            .producers-box-body {
                p {
                    margin-top: 25px;
                    margin-bottom: 50px;
                    @include font-size($large-text*0.99);
                }
            }
            .producers-box-title-bottom {
                h4 {
                    @include font-size($small-text);
                    text-transform: uppercase;
                }
            }
            &:hover {
                background-color: $main-color-producers-box-hover;
            }
        }
    }
}


/* ==========================================================================
Contact
========================================================================== */

#contact {
    background-color: $main-color-contact;
    background-image: url(../img/Layer-20.png);
    color: $white-color;
    padding: 60px 0;
    .container {
        .form-group {
            input,
            textarea {
                background-color: inherit;
                box-shadow: none;
                border-radius: 0;
                border: 0;
                border-bottom: 1px solid $white-color;
            }
            textarea {
                margin-top: 30px;
                margin-bottom: 15px;
                border: 1px solid $white-color;
            }
        }
        .contact-right {
            background-color: rgba(0, 0, 0, 0.15);
            padding: 85px 25px 110px 25px;
            .contact-right-logo {
                img {
                    width: 50px;
                }
            }
            .contact-right-title {
                h3 {
                    font-family: 'montserratregular';
                    @include font-size($xl-text);
                    text-align: left;
                    margin-bottom: 5px;
                }
                p {
                    color: darken($white-color, 40%);
                    font-family: 'montserratregular';
                    padding: 0;
                    margin: 0;
                    @include font-size($small-text*0.9);
                    text-transform: uppercase;
                    text-align: left;
                }
            }
            .contact-right-info {
                padding-top: 20px;
                p {
                    color: darken($white-color, 40%);
                    line-height: 1.4;
                    padding: 0;
                    margin: 0;
                    @include font-size($small-text);
                    text-transform: uppercase;
                    text-align: left;
                }
            }
        }
    }
}


/* ==========================================================================
Footer
========================================================================== */

footer {
    background-color: #03060b;
    padding: 20px 0;
    .container {
        color: darken($white-color, 25%);
        @include font-size($small-text);
        a {
            color: darken($white-color, 25%);
        }
    }
}


/* ==========================================================================
Producers Html Page - Producers Info
========================================================================== */

#producers-info {
    background-image: url(../img/GWINT.png);
    background-color: #0f1219;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    .container {
        color: $white-color;
        &.producers-container {
            small {
                margin-top: 50px;
                font-family: 'montserratregular';
                display: block;
                text-align: center;
                @include font-size($small-text);
                opacity: 0.7;
                text-transform: uppercase;
            }
            h2 {
                margin-top: 10px;
                text-align: center;
            }
            .producers-detail-image {
                img {
                    border-radius: 5px;
                    background-color: rgba(241, 241, 244, 0.07);
                    margin: 0 auto;
                    margin-top: 40px;
                    margin-bottom: 40px;
                    padding: 35px 25px;
                }
            }
            button {
                width: 100%;
                background-color: inherit;
                border: 2px solid $white-color;
                border-radius: 0;
                padding-top: 10px;
                padding-bottom: 10px;
                @include font-size($small-text);
                .img-responsive {
                    display: inherit;
                }
                img {
                    display: inline-block;
                    margin-top: -1px;
                }
                &:hover {
                    border: 2px solid $main-color-red;
                    color: $main-color-red;
                }
            }
            a {
                span {
                    display: block;
                    text-align: center;
                    color: $white-color;
                    margin: 30px 0 50px 0;
                    @include font-size($normall-text);
                }
            }
            .producers-detail-content {
                h3 {
                    //                    font-family: 'montserratregular'
                    margin-bottom: 25px;
                }
                p {
                    @include font-size($large-text);
                    opacity: 0.8;
                    line-height: 1.3;
                    margin-bottom: 60px;
                    position: relative;
                    z-index: 5;
                }
            }
        }
    }
}

#producers-oferts {
    color: $white-color;
    position: relative;
    z-index: 5;
    .container {
        &.container-producers-oferts {
            position: relative;
            z-index: 5;
            h2 {
                text-align: center;
                margin: 40px 0;
            }
            .producers-oferts-box {
                .producers-oferts-oferts-top {
                    img {
                        width: 100%;
                    }
                }
            }
            .producers-oferts-oferts-bottom {
                padding: 15px 0;
                background-color: #0f1219;
                box-shadow: 2px 4px 40px 0.00px rgba(23, 23, 34, 0.08);
                small {
                    font-family: 'montserratregular';
                    display: block;
                    text-align: center;
                    @include font-size($small-text*0.7);
                    text-transform: uppercase;
                    opacity: 0.4;
                    letter-spacing: 4px;
                }
                h3 {
                    font-family: 'montserratregular';
                    margin-top: 0;
                    margin-bottom: 0;
                    text-align: center;
                    @include font-size($normall-text*1.1);
                }
            }
        }
        button {
            display: block;
            margin: 40px auto;
            background-color: inherit;
            border: 2px solid $main-color-red;
            border-radius: 0;
            padding: 0px 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: $main-color-red;
            @include font-size($small-text);
            img {
                margin-top: -1px;
            }
            &:hover {
                color: $white-color;
                border: 2px solid $white-color;
            }
        }
    }
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: white;
    }
}

#test {
    position: relative;
    margin-top: -400px;
    height: 400px;
    width: 100%;
    background-image: url(../img/transparent-bac.png);
    //    background: rgba(10,13,19,0);
    //    background: -moz-linear-gradient(top, rgba(10,13,19,0) 0%, rgba(10,13,19,0.69) 53%, rgba(10,13,19,1) 100%);
    //    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,13,19,0)), color-stop(53%, rgba(10,13,19,0.69)), color-stop(100%, rgba(10,13,19,1)));
    //    background: -webkit-linear-gradient(top, rgba(10,13,19,0) 0%, rgba(10,13,19,0.69) 53%, rgba(10,13,19,1) 100%);
    //    background: -o-linear-gradient(top, rgba(10,13,19,0) 0%, rgba(10,13,19,0.69) 53%, rgba(10,13,19,1) 100%);
    //    background: -ms-linear-gradient(top, rgba(10,13,19,0) 0%, rgba(10,13,19,0.69) 53%, rgba(10,13,19,1) 100%);
    //    background: linear-gradient(to bottom, rgba(10,13,19,0) 0%, rgba(10,13,19,0.69) 53%, rgba(10,13,19,1) 100%);
    //    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0d13', endColorstr='#0a0d13', GradientType=0 );
}