/* ==========================================================================
Global style
========================================================================== */
/* line 78, ../sass/main.scss */
.space-100 {
  margin-top: 100px;
  margin-bottom: 100px; }

/* line 78, ../sass/main.scss */
.space-90 {
  margin-top: 90px;
  margin-bottom: 90px; }

/* line 78, ../sass/main.scss */
.space-80 {
  margin-top: 80px;
  margin-bottom: 80px; }

/* line 78, ../sass/main.scss */
.space-70 {
  margin-top: 70px;
  margin-bottom: 70px; }

/* line 78, ../sass/main.scss */
.space-60 {
  margin-top: 60px;
  margin-bottom: 60px; }

/* line 78, ../sass/main.scss */
.space-50 {
  margin-top: 50px;
  margin-bottom: 50px; }

/* line 78, ../sass/main.scss */
.space-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

/* line 78, ../sass/main.scss */
.space-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

/* line 78, ../sass/main.scss */
.space-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

/* line 78, ../sass/main.scss */
.space-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 78, ../sass/main.scss */
.space-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

/* line 85, ../sass/main.scss */
#map-canvas {
  width: 860px;
  height: 480px; }

/* line 89, ../sass/main.scss */
.catalog {
  max-width: 1000px; }

/* line 93, ../sass/main.scss */
.producers-container {
  max-width: 600px; }

/* line 97, ../sass/main.scss */
.container-producers-oferts {
  max-width: 800px; }

/* line 101, ../sass/main.scss */
.menu-fixed {
  position: fixed;
  margin: 0 auto;
  width: 100vw;
  top: 0;
  z-index: 999;
  background-color: #ececf0;
  -webkit-box-shadow: 0px 10px 10px -8px rgba(87, 87, 87, 0.12);
  -moz-box-shadow: 0px 10px 10px -8px rgba(87, 87, 87, 0.12);
  box-shadow: 0px 10px 10px -8px rgba(87, 87, 87, 0.12); }
  /* line 112, ../sass/main.scss */
  .menu-fixed .navbar-header a {
    height: inherit;
    padding: 2px 15px; }
    /* line 115, ../sass/main.scss */
    .menu-fixed .navbar-header a img {
      margin-top: 12px !important;
      width: 35px !important; }
  /* line 121, ../sass/main.scss */
  .menu-fixed .navbar .navbar-nav li {
    padding: 6px 21px !important; }

/* line 126, ../sass/main.scss */
.icon {
  float: left;
  font-size: 2.6;
  margin: 5px 20px 0 0; }

/* line 132, ../sass/main.scss */
.no-margin {
  margin: 0 !important; }

/* line 136, ../sass/main.scss */
.no-padding {
  padding: 0 !important; }

/* line 140, ../sass/main.scss */
.btn-default-catalogy {
  color: #fff;
  background-color: #f21b2f;
  border: 1px solid #ddd;
  padding: 12px 45px;
  border-radius: 0 !important;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  /* line 147, ../sass/main.scss */
  .btn-default-catalogy:hover {
    color: #fff; }

/* line 155, ../sass/main.scss */
.fb-icon i:hover {
  background-color: #3b5998;
  color: #fff;
  border-color: transparent; }

/* line 163, ../sass/main.scss */
.twitter-icon i:hover {
  background-color: #55acee;
  color: #fff;
  border-color: transparent; }

/* line 171, ../sass/main.scss */
.google-icon i:hover {
  background-color: #d34836;
  color: #fff;
  border-color: transparent; }

/* ==========================================================================
Author's custom styles
========================================================================== */
/* line 183, ../sass/main.scss */
body {
  font-size: 62.5%;
  color: black;
  font-family: 'montserratextralight'; }

/* ==================== Navi ====================*/
/* line 192, ../sass/main.scss */
#nav {
  background-color: #ececf0; }

/* line 197, ../sass/main.scss */
.navbar.navbar-default-start {
  background-color: #ececf0;
  background-image: none;
  border: none;
  box-shadow: none;
  color: #282a35;
  max-width: 1300px;
  margin: 0 auto;
  font-size: 16px;
  font-size: 1.6rem; }
  @media (min-width: 1024px) and (max-width: 1499px) {
    /* line 197, ../sass/main.scss */
    .navbar.navbar-default-start {
      max-width: 1200px; } }
/* line 215, ../sass/main.scss */
.navbar .navbar-header a img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-top: 2px;
  width: 50px; }
  @media (min-width: 200px) and (max-width: 766px) {
    /* line 215, ../sass/main.scss */
    .navbar .navbar-header a img {
      margin-top: -2px;
      width: 30px !important; } }
/* line 227, ../sass/main.scss */
.navbar .navbar-nav li {
  padding: 20px 20px; }
  /* line 229, ../sass/main.scss */
  .navbar .navbar-nav li a {
    color: #000; }
    /* line 231, ../sass/main.scss */
    .navbar .navbar-nav li a:hover {
      cursor: pointer;
      color: lighter(#000, 100%); }
    /* line 235, ../sass/main.scss */
    .navbar .navbar-nav li a:last-child {
      padding-right: 0; }

/* ==================== Navi - End ====================*/
/* ==========================================================================
Top slider
========================================================================== */
/* line 251, ../sass/main.scss */
#top-slide {
  background-image: url(../img/_photo_restarize.png);
  background-size: cover;
  width: 100%;
  padding: 100px 0 60px 0px;
  color: #fff; }
  /* line 258, ../sass/main.scss */
  #top-slide .container h1 {
    text-align: center;
    font-size: 42px;
    font-size: 4.2rem;
    line-height: 1; }
  /* line 263, ../sass/main.scss */
  #top-slide .container h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 19.8px;
    font-size: 1.98rem; }
  /* line 268, ../sass/main.scss */
  #top-slide .container span {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    font-size: 1.4rem; }
    /* line 273, ../sass/main.scss */
    #top-slide .container span i {
      font-size: 18px;
      font-size: 1.8rem; }

/* ==========================================================================
Trade section
========================================================================== */
/* line 285, ../sass/main.scss */
#trade {
  background-color: #ececf0;
  padding: 70px 0; }
  /* line 289, ../sass/main.scss */
  #trade .container h2 {
    font-family: 'montserratultra_light';
    font-size: 38.4px;
    font-size: 3.84rem;
    margin-bottom: 60px; }
  /* line 294, ../sass/main.scss */
  #trade .container h3 {
    font-size: 16px;
    font-size: 1.6rem;
    text-align: center; }
  /* line 298, ../sass/main.scss */
  #trade .container .trade-box {
    box-shadow: 2px 4px 40px 0px rgba(23, 23, 34, 0.08);
    background-color: #fff;
    height: 150px;
    position: relative; }
    /* line 303, ../sass/main.scss */
    #trade .container .trade-box img {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0 auto; }

/* ==========================================================================
Producers section
========================================================================== */
/* line 320, ../sass/main.scss */
#our-producers {
  background-color: #0a0d13;
  background-image: url(../img/_bg_2.png);
  color: #fff;
  padding: 70px 0 20px 0; }
  /* line 326, ../sass/main.scss */
  #our-producers .container h2 {
    text-align: center; }
  /* line 329, ../sass/main.scss */
  #our-producers .container p {
    font-family: 'montserratlight';
    text-align: center;
    color: #999999;
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 60px; }
  /* line 336, ../sass/main.scss */
  #our-producers .container .producers-box {
    border-radius: 5px;
    padding: 50px 60px 1px 60px;
    margin: 0px 0 140px 0;
    text-align: center;
    background-color: #1a1d23; }
    /* line 343, ../sass/main.scss */
    #our-producers .container .producers-box .producers-box-title-top h3 {
      font-size: 12px;
      font-size: 1.2rem;
      margin: 0;
      text-transform: uppercase; }
    /* line 350, ../sass/main.scss */
    #our-producers .container .producers-box .producers-box-title h3 {
      font-family: 'montserratregular';
      margin: 0;
      margin: 5px 0 25px 0; }
    /* line 357, ../sass/main.scss */
    #our-producers .container .producers-box .producers-box-logo img {
      margin-left: -20px; }
    /* line 362, ../sass/main.scss */
    #our-producers .container .producers-box .producers-box-body p {
      margin-top: 25px;
      margin-bottom: 50px;
      font-size: 13.86px;
      font-size: 1.386rem; }
    /* line 369, ../sass/main.scss */
    #our-producers .container .producers-box .producers-box-title-bottom h4 {
      font-size: 12px;
      font-size: 1.2rem;
      text-transform: uppercase; }
    /* line 374, ../sass/main.scss */
    #our-producers .container .producers-box:hover {
      background-color: #292c32; }

/* ==========================================================================
Contact
========================================================================== */
/* line 386, ../sass/main.scss */
#contact {
  background-color: #0d121a;
  background-image: url(../img/Layer-20.png);
  color: #fff;
  padding: 60px 0; }
  /* line 393, ../sass/main.scss */
  #contact .container .form-group input,
  #contact .container .form-group textarea {
    background-color: inherit;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #fff; }
  /* line 401, ../sass/main.scss */
  #contact .container .form-group textarea {
    margin-top: 30px;
    margin-bottom: 15px;
    border: 1px solid #fff; }
  /* line 407, ../sass/main.scss */
  #contact .container .contact-right {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 85px 25px 110px 25px; }
    /* line 411, ../sass/main.scss */
    #contact .container .contact-right .contact-right-logo img {
      width: 50px; }
    /* line 416, ../sass/main.scss */
    #contact .container .contact-right .contact-right-title h3 {
      font-family: 'montserratregular';
      font-size: 22px;
      font-size: 2.2rem;
      text-align: left;
      margin-bottom: 5px; }
    /* line 422, ../sass/main.scss */
    #contact .container .contact-right .contact-right-title p {
      color: #999999;
      font-family: 'montserratregular';
      padding: 0;
      margin: 0;
      font-size: 10.8px;
      font-size: 1.08rem;
      text-transform: uppercase;
      text-align: left; }
    /* line 432, ../sass/main.scss */
    #contact .container .contact-right .contact-right-info {
      padding-top: 20px; }
      /* line 434, ../sass/main.scss */
      #contact .container .contact-right .contact-right-info p {
        color: #999999;
        line-height: 1.4;
        padding: 0;
        margin: 0;
        font-size: 12px;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: left; }

/* ==========================================================================
Footer
========================================================================== */
/* line 453, ../sass/main.scss */
footer {
  background-color: #03060b;
  padding: 20px 0; }
  /* line 456, ../sass/main.scss */
  footer .container {
    color: #bfbfbf;
    font-size: 12px;
    font-size: 1.2rem; }
    /* line 459, ../sass/main.scss */
    footer .container a {
      color: #bfbfbf; }

/* ==========================================================================
Producers Html Page - Producers Info
========================================================================== */
/* line 470, ../sass/main.scss */
#producers-info {
  background-image: url(../img/GWINT.png);
  background-color: #0f1219;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; }
  /* line 476, ../sass/main.scss */
  #producers-info .container {
    color: #fff; }
    /* line 479, ../sass/main.scss */
    #producers-info .container.producers-container small {
      margin-top: 50px;
      font-family: 'montserratregular';
      display: block;
      text-align: center;
      font-size: 12px;
      font-size: 1.2rem;
      opacity: 0.7;
      text-transform: uppercase; }
    /* line 488, ../sass/main.scss */
    #producers-info .container.producers-container h2 {
      margin-top: 10px;
      text-align: center; }
    /* line 493, ../sass/main.scss */
    #producers-info .container.producers-container .producers-detail-image img {
      border-radius: 5px;
      background-color: rgba(241, 241, 244, 0.07);
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 35px 25px; }
    /* line 502, ../sass/main.scss */
    #producers-info .container.producers-container button {
      width: 100%;
      background-color: inherit;
      border: 2px solid #fff;
      border-radius: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 12px;
      font-size: 1.2rem; }
      /* line 510, ../sass/main.scss */
      #producers-info .container.producers-container button .img-responsive {
        display: inherit; }
      /* line 513, ../sass/main.scss */
      #producers-info .container.producers-container button img {
        display: inline-block;
        margin-top: -1px; }
      /* line 517, ../sass/main.scss */
      #producers-info .container.producers-container button:hover {
        border: 2px solid #f21b2f;
        color: #f21b2f; }
    /* line 523, ../sass/main.scss */
    #producers-info .container.producers-container a span {
      display: block;
      text-align: center;
      color: #fff;
      margin: 30px 0 50px 0;
      font-size: 16px;
      font-size: 1.6rem; }
    /* line 532, ../sass/main.scss */
    #producers-info .container.producers-container .producers-detail-content h3 {
      margin-bottom: 25px; }
    /* line 536, ../sass/main.scss */
    #producers-info .container.producers-container .producers-detail-content p {
      font-size: 14px;
      font-size: 1.4rem;
      opacity: 0.8;
      line-height: 1.3;
      margin-bottom: 60px;
      position: relative;
      z-index: 5; }

/* line 549, ../sass/main.scss */
#producers-oferts {
  color: #fff;
  position: relative;
  z-index: 5; }
  /* line 554, ../sass/main.scss */
  #producers-oferts .container.container-producers-oferts {
    position: relative;
    z-index: 5; }
    /* line 557, ../sass/main.scss */
    #producers-oferts .container.container-producers-oferts h2 {
      text-align: center;
      margin: 40px 0; }
    /* line 563, ../sass/main.scss */
    #producers-oferts .container.container-producers-oferts .producers-oferts-box .producers-oferts-oferts-top img {
      width: 100%; }
    /* line 568, ../sass/main.scss */
    #producers-oferts .container.container-producers-oferts .producers-oferts-oferts-bottom {
      padding: 15px 0;
      background-color: #0f1219;
      box-shadow: 2px 4px 40px 0px rgba(23, 23, 34, 0.08); }
      /* line 572, ../sass/main.scss */
      #producers-oferts .container.container-producers-oferts .producers-oferts-oferts-bottom small {
        font-family: 'montserratregular';
        display: block;
        text-align: center;
        font-size: 8.4px;
        font-size: 0.84rem;
        text-transform: uppercase;
        opacity: 0.4;
        letter-spacing: 4px; }
      /* line 581, ../sass/main.scss */
      #producers-oferts .container.container-producers-oferts .producers-oferts-oferts-bottom h3 {
        font-family: 'montserratregular';
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        font-size: 17.6px;
        font-size: 1.76rem; }
  /* line 590, ../sass/main.scss */
  #producers-oferts .container button {
    display: block;
    margin: 40px auto;
    background-color: inherit;
    border: 2px solid #f21b2f;
    border-radius: 0;
    padding: 0px 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f21b2f;
    font-size: 12px;
    font-size: 1.2rem; }
    /* line 601, ../sass/main.scss */
    #producers-oferts .container button img {
      margin-top: -1px; }
    /* line 604, ../sass/main.scss */
    #producers-oferts .container button:hover {
      color: #fff;
      border: 2px solid #fff; }

/* line 612, ../sass/main.scss */
a {
  cursor: pointer;
  color: white;
  text-decoration: none; }
  /* line 616, ../sass/main.scss */
  a:hover {
    text-decoration: none;
    color: white; }

/* line 622, ../sass/main.scss */
#test {
  position: relative;
  margin-top: -400px;
  height: 400px;
  width: 100%;
  background-image: url(../img/transparent-bac.png); }
