{% extends 'base.html.twig' %}

{% block body %}
    <section id="top-slide">
        <div class="container catalog">
            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        Rozwijająca się firma Magic Moon LTD pragnie 
                    dać Wam możliwość zobaczenia oraz zakupu
                     wyoskiej klasy produktów oferowanych przez
                    rosnącą listę europejskich producentów
                   </h1>
                    <h2>Dobre ceny mają tylko producenci</h2>
                    <a href="#our-producers"><span>Przejdź dalej <br><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                </div>
            </div>
        </div>
    </section>

    <section id="trade">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Działamy w branżach</h2>
                <div class="col-md-2">
                    <a href="#our-producers">
                        <div class="trade-box">
                            <img class="img-responsive" src="{{ asset('bundles/framework/img/Vector-Smart-Object-copy-2.png') }}" alt="budownictwo">
                        </div>
                    </a>
                    <h3>Budownictwo</h3>
                </div>
                <div class="col-md-2">
                    <a href="#our-producers">
                        <div class="trade-box">
                            <img class="img-responsive" src="{{ asset('bundles/framework/img/Shape-7.png ')}}" alt="artykuly-spozywcze">
                        </div>
                    </a>
                    <h3 class="text-center">Artykuły <br> spożywcze</h3>
                </div>
                <div class="col-md-2">
                    <a href="#our-producers">
                        <div class="trade-box">
                            <img class="img-responsive" src="{{ asset('bundles/framework/img/Shape-10.png')}}" alt="transport">
                        </div>
                    </a>
                    <h3 class="text-center">Transport lądowy</h3>
                </div>
                <div class="col-md-2">
                    <a href="#our-producers">
                        <div class="trade-box">
                            <img class="img-responsive" src="{{ asset('bundles/framework/img/Shape-12.png')}}" alt="wyposażanie-biur">
                        </div>
                    </a>
                    <h3 class="text-center">Wyposażanie biur</h3>
                </div>
                <div class="col-md-2">
                    <a href="#our-producers">
                        <div class="trade-box">
                            <img class="img-responsive" src="{{ asset('bundles/framework/img/Shape-13.png')}}" alt="motoryzacja">
                        </div>
                    </a>
                    <h3 class="text-center">Motorozacyjna</h3>
                </div>
                <div class="col-md-2">
                    <a href="#our-producers">
                        <div class="trade-box">
                            <img class="img-responsive" src="{{ asset('bundles/framework/img/Vector-Smart-Object.png')}}" alt="wykończenie-wnętrz">
                        </div>
                    </a>
                    <h3 class="text-center">Wykończenie wnętrz</h3>
                </div>
            </div>
        </div>
    </section>

    <!--    Our producers     -->
    <section id="our-producers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Lista naszych producentów</h2>
                    <p>Zasady zamówienia patrze regulamin</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="{{ path('_producers') }}">
                                <div class="producers-box">
                                    <div class="producers-box-title-top">
                                        <h3>Budownictwo</h3>
                                    </div>
                                    <div class="producers-box-title">
                                        <h3>Meraki</h3>
                                    </div>
                                    <div class="producers-box-logo">
                                        <img src="{{ asset('bundles/framework/img/producers/_logotype.png')}}" alt="meraki" class="img-reponsive">
                                    </div>
                                    <div class="producers-box-body">
                                        <p>Zakład Produkcji Materiałów Budowlanych Meraki w Lubartowie powstał w 1992 roku. Od początku działalności specjalizował się w produkcji stropów.</p>
                                    </div>
                                    <div class="producers-box-title-bottom">
                                        <h4 class="text-center">kliknij aby zobaczyć szczegóły</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="{{ path('_producers') }}">
                                <div class="producers-box">
                                    <div class="producers-box-title-top">
                                        <h3>Budownictwo</h3>
                                    </div>
                                    <div class="producers-box-title">
                                        <h3>Meraki</h3>
                                    </div>
                                    <div class="producers-box-logo">
                                        <img src="{{ asset('bundles/framework/img/producers/_logotype.png')}}" alt="meraki" class="img-reponsive">
                                    </div>
                                    <div class="producers-box-body">
                                        <p>Zakład Produkcji Materiałów Budowlanych Meraki w Lubartowie powstał w 1992 roku. Od początku działalności specjalizował się w produkcji stropów.</p>
                                    </div>
                                    <div class="producers-box-title-bottom">
                                        <h4 class="text-center">kliknij aby zobaczyć szczegóły</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="{{ path('_producers') }}">
                                <div class="producers-box">
                                    <div class="producers-box-title-top">
                                        <h3>Budownictwo</h3>
                                    </div>
                                    <div class="producers-box-title">
                                        <h3>Meraki</h3>
                                    </div>
                                    <div class="producers-box-logo">
                                        <img src="{{ asset('bundles/framework/img/producers/_logotype.png')}}" alt="meraki" class="img-reponsive">
                                    </div>
                                    <div class="producers-box-body">
                                        <p>Zakład Produkcji Materiałów Budowlanych Meraki w Lubartowie powstał w 1992 roku. Od początku działalności specjalizował się w produkcji stropów.</p>
                                    </div>
                                    <div class="producers-box-title-bottom">
                                        <h4 class="text-center">kliknij aby zobaczyć szczegóły</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="{{ path('_producers') }}">
                                <div class="producers-box">
                                    <div class="producers-box-title-top">
                                        <h3>Budownictwo</h3>
                                    </div>
                                    <div class="producers-box-title">
                                        <h3>Meraki</h3>
                                    </div>
                                    <div class="producers-box-logo">
                                        <img src="{{ asset('bundles/framework/img/producers/_logotype.png')}}" alt="meraki" class="img-reponsive">
                                    </div>
                                    <div class="producers-box-body">
                                        <p>Zakład Produkcji Materiałów Budowlanych Meraki w Lubartowie powstał w 1992 roku. Od początku działalności specjalizował się w produkcji stropów.</p>
                                    </div>
                                    <div class="producers-box-title-bottom">
                                        <h4 class="text-center">kliknij aby zobaczyć szczegóły</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

