{% extends 'base.html.twig' %}

{% block body %}
 <!--   Producers info section      -->
    <section id="producers-info">
        <div class="container producers-container">
            <div class="row">
                <div class="col-sm-12">
                    <small>Branża: Budownictwo</small>
                    <h2>Koelner Łańcucka Fabryka Śrub</h2>
                    <div class="producers-detail-image">
                        <img src="{{ asset('bundles/framework/img/Layer-255.png')}}" alt="firma" class="img-responsive">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn"><img src="{{ asset('bundles/framework/img/Forma-1.png')}}" alt="forma" class="img-responsive">&nbsp; Pobierz ofertę handlową</button>
                        </div>
                        <div class="col-sm-6">
                            <button data-toggle="modal" data-target="#myMapModal" type="button" class="btn">Pokaż lokalizację firmy</button>
                        </div>
                    </div>
                    <a href="#"><span>Przejdź dalej <br><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                    <div class="producers-detail-content">
                        <h3>Od 1 stycznia 2009 roku działalność Fabryki Śrub w Łańcucie ŚRUBEX S.A. została przeniesiona do 
                        powołanej w tym celu firmy KOELNER Łańcucka 
                        Fabryka Śrub. </h3>
                        <p>
                            W ten sposób nowy podmiot stał się następcą ponad pięćdziesięcioletniej tradycji firmy, działającej na rynku od 1957 r.
                            <br>
                            <br> Dziś jesteśmy największym producentem elementów złącznych w Europie Środkowo Wschodniej i liderem rynku polskiego. Znak towarowy ŁF jest rozpoznawalny nie tylko w Polsce, ale także na świecie i kojarzony z wysoką jakością wyrobów śrubowych.
                            <br>
                            <br> Odbiorcami naszych produktów są przedsiębiorstwa ze wszystkich sektorów przemysłu, a w szczególności z takich branż jak motoryzacja, budownictwo, przemysł maszynowy i elektromaszynowy, przemysł wydobywczy, meblarstwo, energetyka, przemysł stoczniowy oraz drogowy.
                            <br>
                            <br> Oferta handlowa obejmuje: śruby w zakresie od M4 do M24, nakrętki w zakresach od M4 do M20, wyroby specjalne oraz inne elementy złączne o bardziej skomplikowanym rysunku. Oferta wyrobów specjalnych pozwala na ich wykonanie według indywidualnych potrzeb klientów. Każdego roku wprowadzamy kilkadziesiąt nowych produktów będących odpowiedzią na sugestie naszych odbiorców. Zapewniamy również obróbkę cieplną i różne rodzaje pokryć ochronnych.
                            <br>
                            <br> Zapraszamy do zapoznania się z naszą ofertą w wirtualnym kata
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="producers-oferts">
            <div class="container container-producers-oferts">
                <h2>Oferowane produkty</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="producers-oferts-box">
                            <div class="producers-oferts-oferts-top">
                                <img src="{{ asset('bundles/framework/img/Layer-241.png')}}" alt="produkty" class="img-responsive">
                            </div>
                            <div class="producers-oferts-oferts-bottom">
                                <small>śruby</small>
                                <h3>Din 6900</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="producers-oferts-box">
                            <div class="producers-oferts-oferts-top">
                                <img src="{{ asset('bundles/framework/img/Layer-241.png')}}" alt="produkty" class="img-responsive">
                            </div>
                            <div class="producers-oferts-oferts-bottom">
                                <small>śruby</small>
                                <h3>Din 6900</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="producers-oferts-box">
                            <div class="producers-oferts-oferts-top">
                                <img src="{{ asset('bundles/framework/img/Layer-241.png')}}" alt="produkty" class="img-responsive">
                            </div>
                            <div class="producers-oferts-oferts-bottom">
                                <small>śruby</small>
                                <h3>Din 6900</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="producers-oferts-box">
                            <div class="producers-oferts-oferts-top">
                                <img src="{{ asset('bundles/framework/img/Layer-241.png')}}" alt="produkty" class="img-responsive">
                            </div>
                            <div class="producers-oferts-oferts-bottom">
                                <small>śruby</small>
                                <h3>Din 6900</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="producers-oferts-box">
                            <div class="producers-oferts-oferts-top">
                                <img src="{{ asset('bundles/framework/img/Layer-241.png')}}" alt="produkty" class="img-responsive">
                            </div>
                            <div class="producers-oferts-oferts-bottom">
                                <small>śruby</small>
                                <h3>Din 6900</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="producers-oferts-box">
                            <div class="producers-oferts-oferts-top">
                                <img src="{{ asset('bundles/framework/img/Layer-241.png')}}" alt="produkty" class="img-responsive">
                            </div>
                            <div class="producers-oferts-oferts-bottom">
                                <small>śruby</small>
                                <h3>Din 6900</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn"><img src="{{ asset('bundles/framework/img/Forma-1.png')}} " alt="forma"> &nbsp;Pobierz pełną ofertę</button>
            </div>
        </div>
    </section>

    <section id="tranparent-bac"></section>

    <div class="modal fade bs-example-modal-lg" id="myMapModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div id="map-canvas" class=""></div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}
{% block javascripts_user %}

{% endblock %}
